.greeting {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    margin-top: 40%;
    margin-left: 10%
}
.greeting.button {
    margin-left: 25%;
}
.playerscounter.question {
    margin-left: 5%;
    font-size: 1.5em;
    text-align: center;
}
.playerscounter.counter {
    font-size: 3em;
    margin-left: 45%;
}

.playerscounter.button.add {
    margin-top: 10%;
    margin-left: 40%;
    font-size: 3em;
}
@media (min-width: 375px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2em;
        margin-top: 30%;
    }
    
}

@media (min-width: 768px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        margin-top: 30%;
    }
}

@media (min-width: 992px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 450%;
        margin-top: 30%;
    }
}

@media (min-width: 1200px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 550%;
        margin-top: 30%;

    }
}