.greeting {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
.greeting.player_input{
    color: black;
}
@media (min-width: 375px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
    }
}

@media (min-width: 768px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
    }
}

@media (min-width: 992px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 450%;
    }
}

@media (min-width: 1200px) { 
    .greeting {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 500%;
    }
}